/*body{
		width:1000px;
		margin:50px auto;
}*/

rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid black; }
.legend tr:first-child{    border-top:1px solid black; }



.axis path,
.axis line {
	fill: #FFF;
	stroke: #000;
	shape-rendering: crispEdges;
}

.legend {
       
		margin-bottom:706px;
		display:inline;
		border-collapse: collapse;
		border-spacing: 10px;
		margin-left: 700px;
}

.legdata {
        background-color : white;
        fill: white;
	    stroke: black;
}

.legendFreq, .legendPerc{
        background-color : white;
		align:right;
		width:50px;
		
}


